@model List<Vulnerability>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
@{
        for (int i = 0; i < Model.Count; i++)
        {
            <p>@Model[i].Content</p>
        }
    }
</div>
